# Frontend Environment Variables
# Copy this file to .env.local and update the values

VITE_API_URL=http://localhost:8002

# Snowflake Configuration
SF_ACCOUNT=
SF_USER=
SF_PASSWORD=
SF_ROLE=
SF_WAREHOUSE=
SF_DATABASE=
SF_SCHEMA=

# Alpaca Configuration
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=
ALPACA_FEED=
ALPACA_DEMO=


#LLM OpenAI API Key
OPENAI_API_KEY=""